/* Basic tag styling */
h2 {
  font-family: 'Rufina', serif;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 27px;
}
a {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 27px;
  transition: color 300ms ease-in-out;
}
ul {
  padding: 0;
}

/* Menu bar styling */
.header-main {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}
.menu-ul {
  list-style-type: none;
  margin: 0;
}
.menu-ul li {
  display: inline-block;
}
.menu-ul li a {
  padding: 0 20px;
  color: #263a41;
}
.menu-ul li a:hover {
  text-decoration: none;
  color: #ff817e;
}

/* Intro section styling */
#intro-section {
  background: url('../images/leaf.png') no-repeat left center;
  padding: 12% 0;
}
.intro-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: -1;
}
.intro-img img {
  width: 100%;
}
.intro-title {
  color: #ff817e;
  font-family: 'Rufina', serif;
  letter-spacing: 1.5px;
  font-weight: 200;
  margin-bottom: 20px;
}
.intro-h2 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}
.intro-sub {
  font-weight: lighter;
  margin-bottom: 50px;
}
a.reserve {
  display: inline-block;
  background-color: #ff817e;
  color: white;
  border-radius: 0;
  font-weight: 500;
  min-width: 170px;
  line-height: 2;
}
a.video {
  font-size: 15px;
}
a.video:hover {
  text-decoration: none;
  color: #ff817e;
}
a.video i {
  display: inline-block;
  border-radius: 50%;
  background-color: #fcf5ee;
  color: #ff817e;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/* About section styling */
#about-section {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.about-image1 {
  display: block;
  position: absolute;
  top: 0;
  left: 16%;
}

.about-image2 {
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
}

.about-content {
  text-align: center;
}

.about-content img {
  margin-bottom: 20px;
}

.about-title {
  line-height: 60px;
  color: #888;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.about-content h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.about-sub {
  color: #888;
  line-height: 27px;
  margin-bottom: 60px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
a.read {
  display: inline-block;
  border-radius: 50px;
  background-color: #ff817e;
  color: white;
  font-weight: 500;
  min-width: 170px;
  line-height: 2;
}

#service-section {
  padding: 4% 0;
}
#service-section .col {
  margin-right: 5px;
}
#service-section .col img {
  width: 100%;
}

.last-col {
  margin-right: 0;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 3% 0;
  background-color: #fff9f8;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-nav {
  margin-bottom: 30px;
}
.social {
  margin-bottom: 30px;
}
.social-icon {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 10px;
  color: #263a41;
}
.social-icon:hover {
  color: #ff817e;
  text-decoration: none;
}
.copyright {
  font-size: 13px;
  font-weight: 200;
  color: #888;
}
.copyright a {
  display: inline;
  color: #ff817e;
  font-size: 13px;
  font-weight: 200;
}
.copyright a:hover {
  text-decoration: none;
  color: #ff817e;
}
