/* Basic tag styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rufina', serif;
  font-weight: 700;
  color: #1e2528;
}
h2 {
  font-size: 60px;
  line-height: 75px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 22px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}
a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 27px;
  transition: color 300ms ease-in-out;
}
img {
  display: block;
}
ul {
  padding: 0;
}
section {
  padding: 5% 0;
}

/* Button styling */
.btn {
  background-color: #ff817e;
  color: white;
  padding: 20px 15px;
  font-weight: 500;
  font-size: 16px;
  min-width: 170px;
  border-radius: 0;
  line-height: 0.8;
}
.round {
  border-radius: 50px;
}
header {
  position: relative;
}
/* Menu bar styling */
.header-main {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}
.menu-ul {
  list-style-type: none;
  margin: 0;
}
.menu-ul li {
  display: inline-block;
}
.menu-ul li a {
  padding: 0 20px;
  font-weight: 500;
  color: #263a41;
}
.menu-ul li a:hover {
  text-decoration: none;
  color: #ff817e;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 5% 0;
  background-color: #fff9f8;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  margin: 0 auto;
}
.footer-nav {
  margin: 30px 0;
}
.social {
  margin-bottom: 30px;
}
.social-icon {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 10px;
  color: #263a41;
}
.social-icon:hover {
  color: #ff817e;
  text-decoration: none;
}
.copyright {
  font-size: 13px;
  color: #888;
}
.copyright a {
  display: inline;
  color: #ff817e;
  font-size: 13px;
  font-weight: 200;
}
.copyright a:hover {
  text-decoration: none;
  color: #ff817e;
}
