/* Basic tag styling */
h2,
h3 {
  font-family: 'Rufina', serif;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 27px;
}
a {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 27px;
  transition: color 300ms ease-in-out;
}
ul {
  padding: 0;
}
section {
  padding: 5% 0;
}
/* Menu bar styling */
.header-main {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}
.menu-ul {
  list-style-type: none;
  margin: 0;
}
.menu-ul li {
  display: inline-block;
}
.menu-ul li a {
  padding: 0 20px;
  color: #263a41;
}
.menu-ul li a:hover {
  text-decoration: none;
  color: #ff817e;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 3% 0;
  background-color: #fff9f8;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-nav {
  margin-bottom: 30px;
}
.social {
  margin-bottom: 30px;
}
.social-icon {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 10px;
  color: #263a41;
}
.social-icon:hover {
  color: #ff817e;
  text-decoration: none;
}
.copyright {
  font-size: 13px;
  font-weight: 200;
  color: #888;
}
.copyright a {
  display: inline;
  color: #ff817e;
  font-size: 13px;
  font-weight: 200;
}
.copyright a:hover {
  text-decoration: none;
  color: #ff817e;
}
